@import url('https://fonts.googleapis.com/css2?family=Bungee&family=K2D&family=Nabla&family=Oxanium:wght@800&display=swap');
/*
font-family: 'Bungee', cursive;
font-family: 'K2D', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Oxanium', cursive;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'K2D', sans-serif;
	color: #FFF;
}

body{
	background-image: url(bg@2-1920x1080-min.png);
	background-size: cover;
	background-position: center center;
	background-attachment:fixed;
	background-repeat: no-repeat;
}

nav{
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: none;
	color: #FFF;
	padding: 16px 24px;
	overflow: hidden;
}

nav h1 {
	padding: 8px 16px;
	font-family: 'Bungee', cursive;
	animation: fadeInDown 1s;
}

nav h1:hover{
	cursor: pointer;
}

nav a{
	text-decoration: none;
}

.menu{
	display: none;
	align-items: center;
	margin: 0 -16px;
}

.menu a{
	margin: 0 16px;
	color: #FFF;
	text-decoration: none;
	transition: 0.4s;
	animation: fadeInDown 1s;
	font-family: 'Oxanium', cursive;
}

.menu a:hover{
	color: #42C6FF;
	transform: rotate(2deg) scale(1.1,1.1);
	transition: 0.4s;
}

.hamburger{
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;

	display: block;
	width: 32px;
	height: 32px;
}

.hamburger span{
	color: white;
	font-size: 32px;
}

.mobile-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;

	padding: 96px;
	opacity: 0;
	transform: translateY(-100%);
	background-color:#1c1c1c;
	color: #FFF;
	transition: 0.4s;
}

.mobile-menu.is-open{
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a{
	display: block;
	padding: 16px;
	color:#FFF;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	transition: 0.4s;
	font-family: 'Oxanium', cursive;
}

.mobile-menu a:hover{
	color: #42C6FF;
	transform: rotate(2deg) scale(1.1,1.1);
}

@media (min-width: 768px){
	.mobile-menu, .hamburger{
		display: none;
	}

	.menu{
		display: flex;
	}
}

main{
	display: block;
	padding: 0;
	margin: 0;
}

.team-member{
	width: 50%;
    padding: 30px;
    margin: 35px auto;
    text-align: left;
	color: #FFF;
	background: rgba(255, 255, 255, 0.02);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	transition: 0.4s;
	box-shadow: 0px 0px 10px #FFF;
}

@media screen and (max-width: 600px){
	.team-member {
	width: 80%;
	padding: 30px;
	margin: 35px auto;
	text-align: left;
	color: #FFF;
	background: rgba(255, 255, 255, 0.02);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	transition: 0.4s;
	box-shadow: 0px 0px 10px #FFF;
	
}
}
.work-box:hover{
	transform: scale(1.1,1.1);
}

.search-work{
	width: 50%;
    padding: 10px;
    margin: 35px auto;
    text-align: center;
	color: #FFF;
	background: rgba(255, 255, 255, 0.02);
	border-radius: 10px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	transition: 0.4s;
	box-shadow: 0px 0px 10px #FFF;
}

@media screen and (max-width: 600px){
	.search-work {
	width: 80%;
	padding: 10px;
	margin: 35px auto;
	text-align: center;
	color: #FFF;
	background: rgba(255, 255, 255, 0.02);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	transition: 0.4s;
	box-shadow: 0px 0px 10px #FFF;

}

}
.team-member:hover{
	transform: scale(1.1,1.1) rotate(1deg);
}
.work-box p{
	text-align: center;
}

#Search{
	border: none;
	background: none;
	width: 100%;
	height: 25px;
	color: #FFF;
	font-size: medium;
	border-radius: 6px;
	font-family: 'Oxanium', cursive;
}

#no-work{
	text-align: center;
	color: #FFF;
}

#no-work h2{
	font-family: 'Oxanium', cursive;
}

.team-member h4{
	font-weight: 400;
	font-family: 'Oxanium', cursive;
}

.team-member h2{
	font-family: 'Oxanium', cursive;
} 



@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

@keyframes fadeInDown {
	0% {
	   opacity: 0;
	   transform: translateY(-20px);
	}
	100% {
	   opacity: 1;
	   transform: translateY(0);
	}
} 

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #1c1c1c;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #1c1c1c;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    border: 3px solid #ffffff;
  }

  #lottie{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fadeInDown 1s;
  }

  .back-home{
	text-align: center;
	padding: 100px;
	cursor: pointer;
  }

  .back-home a{
	text-decoration: none;
	font-size: large;
	font-family: 'Oxanium', cursive;
  }

  #preloader{
	background: url(logo.svg) center center no-repeat;
	background-color: #1c1c1c;
	background-size: 30%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
  }

  .mtitle{
	position:absolute;
    max-width:36%;
    max-height:36%;
    top:50%;
    left:50%;
    overflow:visible;
  }

  .mtitle img{
	position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:-50%;
    margin-left:-50%;
	animation: fadeInDown 1s;
  }
